.location-option {
  margin-top: 1rem;
  display: flex;


  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}