.success{
    background-color: #4CAF50 !important;
    color: white !important;
    font-weight: bold !important;
}

.error{
    background-color: #f44336 !important;
    color: white !important;
    font-weight: bold !important;
}

.info{
    background-color: #2196F3 !important;
    color:white !important;
    font-weight:bold !important;
}