.attraction-card {
  position: relative;
  margin: 8px;
  padding-top: 20px;
  overflow: hidden;
  width: 550px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  border-radius: 50%;
}

.close-button mat-icon{
  font-size: 20px;
}

.short-desc{
  margin-bottom: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.long-desc {
  margin-top: 16px;
  white-space: pre-line;
}

.mat-card-content p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}