@if (attractionDetails$ | async; as attraction) {
  <mat-card class="attraction-card">
    <button mat-icon-button 
            class="close-button"
            (click)="closeDetails()"
            aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>

    <mat-card-header>
      <mat-card-title>{{ attraction.attractionName }}</mat-card-title>
      <mat-card-subtitle>{{ attraction.category }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      @if (attraction.shortDescription) {
        <p class="short-desc">{{ attraction.shortDescription }}</p>
      }

      @if (attraction.longDescription) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Detailed description</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ attraction.longDescription }}</p>
          
        </mat-expansion-panel>
      }

      @if (attraction.workingHours) {
        <p>
          <strong>Working hours:</strong> {{ attraction.workingHours }}
        </p>
      }

      @if (attraction.websiteLink) {
        <p>
          <strong>Website Link:</strong>
          <a [href]="attraction.websiteLink" target="_blank" rel="noopener">
            {{ attraction.websiteLink }}
          </a>
        </p>
      }

      @if (attraction.phoneNumber){
        <p>
          <strong>Phone Number: </strong> {{attraction.phoneNumber}}
        </p>
      }

      @if (attraction.address){
        <p>
          <strong>Address: </strong> {{attraction.address}}
        </p>
      }

      @if(averageRating$ | async; as average){
        <p>
          <strong>Average Rating:</strong> {{average | number:'1.1-1'}} ⭐
        </p>
      }
    </mat-card-content>
    <app-attraction-actions-component [attractionId]="attraction.id"></app-attraction-actions-component> 
   
  </mat-card>

 }