.filter-container {
  position: absolute;
  top: 75px; 
  left: 10px;
  background: rgba(255,255,255,0.95);
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  max-height: 300px; 
  overflow-y: auto;
  z-index: 10; 

  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-title {
  font-weight: 400;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  text-align: center;
  flex-shrink: 0;
}

.filter-buttons-wrapper{
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding-bottom: 4px;
  white-space: nowrap;
  scrollbar-width: thin;
  &::-webkit-scrollbar{
    height: 6px;
  }
  &::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 3px;
  }
}

.filter-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  padding: 6px 12px;
  border: 1px solid #aaa;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.filter-btn.selected {
  background: #007bff;
  color: #fff;
  border-color: #007bff;
}

.filter-btn:hover {
  transform: scale(1.05);
}